<h4>Documentation</h4>
<div class="list-group">
	<a href="/docs">Docs Home</a>
	<a href="/docs/intro">Introduction</a>
	<a href="/docs/quick-start-guide">Quick Start Guide</a>
</div>

<h4>Modeling</h4>
<div class="list-group">
	<a href="/docs/basic-modeling">Modeling basics</a>
	<a href="/docs/commands">Writing Commands</a>
	<a href="/docs/queries">Writing Queries</a>
	<a href="/docs/transactions">Transactions</a>
	<!-- <a href="/docs/child-models"></a>* [Child Models](child-models)-->
	<a href="/docs/views">Views</a>
	<a href="/docs/immutability">Immutability</a>
	<a href="/docs/compiled-linq-queries">Compiled Linq Queries</a>
	<a href="/docs/schema-evolution">Schema evolution</a>
	<a href="/docs/domain-events">Domain Events</a>
</div>

<h4>Hosting and configuration</h4>
<div class="list-group">
	<a href="/docs/engine">Engine</a>
	<a href="/docs/kernels">Kernels</a>
	<a href="/docs/proxy">Transparent Proxy</a>
	<a href="/docs/configuration">Configuration</a>
	<a href="/docs/extensibility">Extensibility</a>
	<a href="/docs/persistence">Persistence modes</a>
	<a href="/docs/authorization">Role based authorization</a>
	<a href="/docs/logging">Logging</a>
</div>

<h4>Client library</h4>
<div class="list-group">
	<a href="/docs/client-api">Client API</a>
	<a href="/docs/partition-client">Partition Client</a>
	<a href="/docs/connection-strings">Connection strings</a>
</div>

<h4>Storage</h4>
	<div class="list-group">
	<a href="/docs/file-storage">File storage</a>
	<a href="/docs/sql-storage">Sql storage</a>
	<a href="/docs/snapshots">Snapshots</a>
	<a href="/docs/store-utility">Store Utility</a>
</div>

<h4>Server</h4>
<div class="list-group">
	<a href="/server-docs/quick-start">Quick start guide</a>
	<a href="/server-docs/install">Install Server</a>
	<a href="/server-docs/deploy">Deploy Database</a>
	<a href="/server-docs/replication">Replication</a>
	<a href="/server-docs/security">Security</a>
</div>
